@import url('https://fonts.googleapis.com/css?family=Bangers');

$border--game-cell = 1px solid $color--table-border;
$color--table-border = #ffffff;
$color--game-icon = #ffffff;
$color--body-background = #f4faff;
$color--footer-background = #3a2e39;
$color--jumbo-background = #3a2e39;
$color--button-o = #f15152;
$color--button-x = #1e555c;
$color--button-reset = #e3170a
$font--titles-main = 'Bangers', cursive;

// -----------------------------------------

body {
    padding-bottom: 70px
    background-color: $color--body-background
}

.b-titles {
    text-align: center
}

.titles--main {
    font-family: $font--titles-main;
    font-size: 70px;
    @media screen and (max-width: 450px) {
        font-size: 45px;
    }
}

.titles--sub {
    @media screen and (max-width: 450px) {
        font-size: 21px;
    }
}


// -----------------------------------------

.b-choice {
    display: none
    text-align: center
}

.choice--btn {
    
    color: #fff    
    font-size: 10vh
    width: 20vw

    &[data-choice="X"] {
        background-color: $color--button-x;
    }
    &[data-choice="X"]:hover {
        background-color: lighten($color--button-x, 10%)
        color: #fff
    }

    &[data-choice="O"] {
        background-color: $color--button-o;
    }
    &[data-choice="O"]:hover {
        background-color: lighten($color--button-o, 10%)
        color: #fff
    }

}

// -----------------------------------------

.b-game {
    display: none
}

.game--row {
    text-align: center;
}

.game--col {
    color: $color--game-icon;
    font-size: 5em;
    height: 15vh;
    line-height: 15vh;

    @media screen and (min-width: 600px) {
        height: 20vh
        line-height: 20vh
    }
}

.game--col[data-cell="1"] {
    border-right: $border--game-cell;
    border-bottom: $border--game-cell;
}

.game--col[data-cell="2"] {
    border-left: $border--game-cell;
    border-right: $border--game-cell;
    border-bottom: $border--game-cell;
}

.game--col[data-cell="3"] {
    border-bottom: $border--game-cell;
    border-left: $border--game-cell;
}

.game--col[data-cell="4"] {
    border-bottom: $border--game-cell;
    border-right: $border--game-cell;
    border-top: $border--game-cell;
}

.game--col[data-cell="5"] {
    border: $border--game-cell;
}

.game--col[data-cell="6"] {
    border-bottom: $border--game-cell;
    border-left: $border--game-cell;
    border-top: $border--game-cell;    
}

.game--col[data-cell="7"] {
    border-right: $border--game-cell;
    border-top: $border--game-cell;
}
.game--col[data-cell="8"] {
    border-left: $border--game-cell;
    border-right: $border--game-cell;
    border-top: $border--game-cell;
}

.game--col[data-cell="9"] {
    border-left: $border--game-cell;
    border-top: $border--game-cell;
}

.game--jumbo {
    background-color: $color--jumbo-background;
    margin: auto
    max-width: 50%
    @media screen and (max-width: 800px) {
        max-width: 80%;
    }

    @media screen and (max-width: 600px) {
        max-width: 90%
    }
}

// -----------------------------------------

.b-reset {
    display: none;
    text-align: center;
}

.reset--btn {
    background-color: $color--button-reset
    color: #fff
    font-size: 20px;
    margin-top: 20px;
    width: 100%;

    &:hover {
        background-color: lighten($color--button-reset, 10%)
        color: #fff
    }
}

// -----------------------------------------

.b-footer {
    background-color: $color--footer-background;
}

.navbar-text.footer--text {
    color: #eeeeee
}