.b-titles {
  text-align: center;
}
.b-choice {
  display: none;
  text-align: center;
}
.choice--btn {
  font-size: 100px;
}
.choice--btn[data-choice="X"] {
  background-color: #daa520;
}
.choice--btn[data-choice="O"] {
  background-color: #fa8072;
}
.choice--btn:hover {
  color: #fff;
}
.b-game {
  display: none;
}
.game--table {
  text-align: center;
}
.game--table td {
  border: 1px solid #0a0a0a;
  padding: 50px;
}
.b-footer {
  background-color: #0a0a0a;
}
.navbar-text.footer--text {
  color: #eee;
}
