$cell-border = 1px solid #0a0a0a;
$footer-background = #0a0a0a;

// -----------------------------------------

body {
    padding-bottom: 70px;
}

.b-titles {
    text-align: center
}

// -----------------------------------------

.b-choice {
    display: none
    text-align: center
}

.choice--btn {
    
    font-size: 100px

    &[data-choice="X"] {
        background-color: goldenrod
    }

    &[data-choice="O"] {
        background-color: salmon
    }

    &:hover {
        color: white;
    }
}

// -----------------------------------------

.b-game {
    display: none
}

.game--row {
    text-align: center;
}

.game--col {
    // border: 1px solid blue;
    height: 200px;
    font-size: 10em;
    line-height: 200px;

    @media screen and (max-width: 450px) {
        height: 140px;
        line-height: 140px;
    }
}

.game--col[data-cell="1"] {
    border-right: $cell-border;
    border-bottom: $cell-border;
}

.game--col[data-cell="2"] {
    border-left: $cell-border;
    border-right: $cell-border;
    border-bottom: $cell-border;
}

.game--col[data-cell="3"] {
    border-bottom: $cell-border;
    border-left: $cell-border;
}

.game--col[data-cell="4"] {
    border-bottom: $cell-border;
    border-right: $cell-border;
    border-top: $cell-border;
}

.game--col[data-cell="5"] {
    border: $cell-border;
}

.game--col[data-cell="6"] {
    border-bottom: $cell-border;
    border-left: $cell-border;
    border-top: $cell-border;    
}

.game--col[data-cell="7"] {
    border-right: $cell-border;
    border-top: $cell-border;
}
.game--col[data-cell="8"] {
    border-left: $cell-border;
    border-right: $cell-border;
    border-top: $cell-border;
}

.game--col[data-cell="9"] {
    border-left: $cell-border;
    border-top: $cell-border;
}

.game--jumbo {
    margin: auto;
    @media screen and (min-width: 800px) {
        max-width: 60%
    }
}

// -----------------------------------------

.b-reset {
    display: none;
    text-align: center;
}

.reset--btn {
    width: 100%;
}

// -----------------------------------------

.b-footer {
    background-color: $footer-background;
}

.navbar-text.footer--text {
    color: #eeeeee
}