body {
  padding-bottom: 70px;
}
.b-titles {
  text-align: center;
}
.b-choice {
  display: none;
  text-align: center;
}
.choice--btn {
  font-size: 100px;
}
.choice--btn[data-choice="X"] {
  background-color: #daa520;
}
.choice--btn[data-choice="O"] {
  background-color: #fa8072;
}
.choice--btn:hover {
  color: #fff;
}
.b-game {
  display: none;
}
.game--row {
  text-align: center;
}
.game--col {
  height: 200px;
  font-size: 10em;
  line-height: 200px;
}
@media screen and (max-width: 450px) {
  .game--col {
    height: 140px;
    line-height: 140px;
  }
}
.game--col[data-cell="1"] {
  border-right: 1px solid #0a0a0a;
  border-bottom: 1px solid #0a0a0a;
}
.game--col[data-cell="2"] {
  border-left: 1px solid #0a0a0a;
  border-right: 1px solid #0a0a0a;
  border-bottom: 1px solid #0a0a0a;
}
.game--col[data-cell="3"] {
  border-bottom: 1px solid #0a0a0a;
  border-left: 1px solid #0a0a0a;
}
.game--col[data-cell="4"] {
  border-bottom: 1px solid #0a0a0a;
  border-right: 1px solid #0a0a0a;
  border-top: 1px solid #0a0a0a;
}
.game--col[data-cell="5"] {
  border: 1px solid #0a0a0a;
}
.game--col[data-cell="6"] {
  border-bottom: 1px solid #0a0a0a;
  border-left: 1px solid #0a0a0a;
  border-top: 1px solid #0a0a0a;
}
.game--col[data-cell="7"] {
  border-right: 1px solid #0a0a0a;
  border-top: 1px solid #0a0a0a;
}
.game--col[data-cell="8"] {
  border-left: 1px solid #0a0a0a;
  border-right: 1px solid #0a0a0a;
  border-top: 1px solid #0a0a0a;
}
.game--col[data-cell="9"] {
  border-left: 1px solid #0a0a0a;
  border-top: 1px solid #0a0a0a;
}
.game--jumbo {
  margin: auto;
}
@media screen and (min-width: 800px) {
  .game--jumbo {
    max-width: 60%;
  }
}
.b-reset {
  display: none;
  text-align: center;
}
.reset--btn {
  width: 100%;
}
.b-footer {
  background-color: #0a0a0a;
}
.navbar-text.footer--text {
  color: #eee;
}
